.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: rgb(5, 5, 5);
  height: 40px;
  padding-left: 30px;
  color: white;
  text-align: left;
  background: linear-gradient(to left, rgba(14, 13, 13, 0), rgb(54, 50, 50));;
}
.App-header .todo-time{
  height: 30px;
  padding: 0;
  margin: 0;
  font-size: 18px;
  line-height: 40px;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
